:root {
  --text-brightness: rgba(0, 0, 0, 1);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 75px;
  min-height: 50px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 255, 0.2);
  z-index: 99;
}

nav a {
  display: flex;
  justify-content: left;
}

nav a img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-grow: 100;
  list-style: none;
  margin: 0 1% 0 0;
}

nav ul li {
  font-size: 2em;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--text-brightness);
  font-weight: 550;
  padding: 0.6em;
}

nav ul li a:hover {
  color: var(--text-brightness);
  background-color: rgba(0, 0, 0, 0.1);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#welcome-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

#welcome-parallax {
  width: 100%;
  height: 100%;
  background-image: url("Media/Background/person-scuba-diving-2105937.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5fa4ab;
}

#welcome-parallax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(120%) saturate(50%) opacity(1);
}

#welcome-blur {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #5fa4ab 100%);
}

#welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--text-brightness);
  position: relative;
}

#welcome-text h1 {
  font-size: 2.5em;
}

#welcome-text p {
  font-size: 1.3em;
}

#cover-skip {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5% 0;
  width: 100%;
  z-index: 10;
}

#cover-skip a {
  text-decoration: none;
  font-size: 1.1em;
  color: var(--text-brightness);
}

#cover-skip a p {
  animation-name: DiveHover;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes DiveHover {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#cover-skip a:hover div {
  border-top-color: rgba(0, 0, 0, 0.7);
}

#cover-skip a:hover p {
  color: rgba(0, 0, 0, 0.7);
}

.arrowDown {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid var(--text-brightness);
  width: 0;
  height: 0;
  display: inline-block;
}

#page-gradient {
  background-image: linear-gradient(180deg, #5fa4ab 0%, #324872 100%);
}

#projects {
  max-width: 1300px;
  margin: 0 auto;
  padding: 7.5vh 0 7.5vh 0;
  color: var(--text-brightness);
}

#projects h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 5% 0;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  display: flex;
  min-width: 45%;
  flex-basis: 0;
  margin: 1rem;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.3em;

  border: 10px solid transparent;
  border-image: url(Media/Unused/seaweed.jpg) round;
}

.project-tile:nth-child(4n + 1),
.project-tile:nth-child(4n + 2) {
  position: relative;

  animation-name: TileSlideLeft;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.project-tile:nth-child(4n + 3),
.project-tile:nth-child(4n + 4) {
  position: relative;

  animation-name: TileSlideRight;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@media (max-width: 1038px) {
  .project-tile:nth-child(odd) {
    position: relative;

    animation-name: TileSlideLeftM;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

@media (max-width: 1038px) {
  .project-tile:nth-child(even) {
    position: relative;

    animation-name: TileSlideRightM;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}

.project-tile:hover {
  z-index: 10;
  background-color: rgba(25, 25, 25, 1);
}

@keyframes TileSlideLeft {
  0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(25px);
  }
}

@keyframes TileSlideRight {
  0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(-25px);
  }
}

@keyframes TileSlideLeftM {
  0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(25px);
  }
}

@keyframes TileSlideRightM {
  0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(-25px);
  }
}

.project-tile:hover img {
  filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
}

.project-tile:hover p {
  color: rgba(255, 255, 255, 1);
}

.project-tile div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 8px;
}

.project-tile img {
  filter: sepia(0%) saturate(100%) brightness(75%) hue-rotate(0deg);
  display: flex;
  width: 100%;
  max-height: 320px;
  object-fit: scale-down;
}

.project-tile p {
  padding: 3% 3% 3% 7%;
  margin: 0;
}

#contact {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(180deg, #324872 0%, #191654 100%);
}

#contact-image {
  position: absolute;
  height: 95vh;
  width: 100%;
}

#contact-parallax {
  width: 100%;
  height: 100%;
  background-image: url("Media/Background/silhouette-of-man-under-blue-sky-during-nighttime-957917.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
}

#contact-parallax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(0.3);
}

#contact-blur {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #324872 100%);
}

#contact-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#contact-content p {
  text-align: center;
  text-decoration: none;
  font-size: 2.5em;
  color: var(--text-brightness);
  font-weight: 900;
}

#contact-content img {
  padding: 3vh 0 3vh 0;
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 75px;
}

#contact-content ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}

#contact-content ul li {
  font-size: 1.7em;
  list-style: none;
  padding: 1vh 2vw 0 2vw;
}

#contact-content ul li a {
  text-decoration: none;
  text-align: center;
  color: var(--text-brightness);
}

#contact-content ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

footer {
  background-color: rgba(0, 0, 0, 1);
  color: var(--text-brightness);
  display: flex;
  justify-content: space-around;
}

.footer-section {
  font-size: 0.9em;
  font-weight: lighter;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  margin: 0;
}
